 img
         {
            margin: 80px;
            -webkit-transition: -webkit-transform 4s;
            -moz-transition: -moz-transform 4s;
            -o-transition: -o-transform 4s;
            transition: transform 4s;
         }
         img:hover
         {
            -webkit-transform:  scale(1.5, 1.5);
            -moz-transform:  scale(1.5, 1.5);
            -o-transform:  scale(1.5, 1.5);
            transform:  scale(1.5, 1.5);
         }